<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user.mapper.UserMapper">
    <!-- 批量插入2020-04-08 13:22:09 -->
    <insert id="insertBatch" parameterType="list">
        insert into sy_user (
        id,
        username,
        password
        ) values
        <foreach collection="dataList" item="item" separator=",">
            (
            replace(uuid(),'-',''),
            #{item.username,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR}

            )
        </foreach>
    </insert>


</mapper>